@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

:root {
  --vz-pink-50: #f2e8ec;
  --vz-pink-100: #f1dee7;
  --vz-pink-200: #f3c5de;
  --vz-pink-300: #f471ad;
  --vz-pink-400: #fb75b1;
  --vz-pink-500: #f54e91;
  --vz-pink-600: #ee326e;
  --vz-pink-700: #d2295a;
  --vz-pink-800: #b72a51;
  --vz-pink-900: #9f2a4d;
  --vz-primary: var(--vz-pink-600);
  --vz-gray-50: #fafafa;
  --vz-gray-100: #f4f4f5;
  --vz-gray-200: #e4e4e7;
  --vz-gray-300: #d4d4d8;
  --vz-gray-400: #a1a1aa;
  --vz-gray-500: #71717a;
  --vz-gray-600: #52525b;
  --vz-gray-700: #3f3f46;
  --vz-gray-750: #303035;
  --vz-gray-800: #27272a;
  --vz-gray-850: #1e1e21;
  --vz-gray-900: #18181b;
  --vz-gray-950: #131314;
}
